@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NPV Calculator</h1>
    <p><a asp-page="./Calculator/List">View All Finances</a></p>
</div>
