@page "{npvId:int}"
@model Finance.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Editing @Model.dto.Name</h1>

<form method="post">
    <input type="hidden" asp-for="dto.NpvId" />

    <div class="form-group">
        <label asp-for="dto.Name"></label>
        <input asp-for="dto.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="dto.InitialValue"></label>
        <input asp-for="dto.InitialValue" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="dto.IncrementRate"></label>
        <input asp-for="dto.IncrementRate" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="dto.LowerRate"></label>
        <input asp-for="dto.LowerRate" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="dto.UpperRate"></label>
        <input asp-for="dto.UpperRate" readonly class="form-control" />
    </div>



    @{var i = 1;}
    @foreach (var y in Model.dto.CashFlows)
    {

        <div class="form-group">
            <label>Cash Flow Year @i </label>
            @Html.HiddenFor(a => y.Id)
            @Html.TextBoxFor(a => y.Amount)
        </div>
        i++;
    }



    <button type="submit">Save</button>
    <a asp-page="./List">Back to All Finances</a>
</form>

